---
# {{ ansible_managed }}
# cloud-config
write_files:
  - path: {{ coreos_ansible_user_home }}/.toolboxrc
    owner: {{ coreos_ansible_user }}
    content: |
      TOOLBOX_DOCKER_IMAGE={{ docker_toolbox_image }}
      TOOLBOX_USER=root
users:
  name: {{ coreos_ansible_user }}
  home: {{ coreos_ansible_user_home }}
coreos:
  etcd2:
    # generate a new token for each unique cluster from https://discovery.etcd.io/new
    discovery: {{ coreoes_discovery_token | mandatory }}
    # multi-region and multi-cloud deployments need to use $public_ipv4
    advertise-client-urls: http://$public_ipv4:2379
    initial-advertise-peer-urls: http://$private_ipv4:2380
    # listen on both the official ports and the legacy ports
    # legacy ports can be omitted if your application doesn't depend on them
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$private_ipv4:2380,http://$private_ipv4:7001
  fleet:
    public-ip: $public_ipv4
  flannel:
    interface: $public_ipv4
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: toolbox.service
      command: start
      content: |
        [Unit]
          Description=toolbox
          Requires=docker.service network-online.target
          After=docker.service network-online.target

        [Service]
          TimeoutStartSec=0
          ExecStartPre=-/usr/bin/docker kill {{ docker_toolbox_image }}
          ExecStartPre=-/usr/bin/docker rm {{ docker_toolbox_image }}
          ExecStartPre=/usr/bin/docker pull {{ docker_toolbox_image }}
          Restart=always
        [Install]
          WantedBy=multi-user.target
    - name: 50-network-config.conf
      command: start
      content: |
        [Service]
        ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=2375
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
...
